* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* App.css */
:root {
  --background-color-light: #ffffff;
  --background-color-dark: #121212;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}

.root-light {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.root-dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.header-light, .home-light {
  color: var(--text-color-light);
}

.header-dark, .home-dark {
  color: var(--text-color-dark);
}
